certifi==2017.4.17
chardet==3.0.4
Django==1.9.8
django-ckeditor==5.3.0
django-crispy-forms==1.6.1
django-js-asset==0.1.1
django-paypal==0.3.6
idna==2.5
olefile==0.44
Pillow==8.2.0
psycopg2==2.7.1
pytz==2017.2
requests==2.18.1
six==1.10.0
urllib3==1.21.1
